@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,700italic,500italic&subset=latin,cyrillic);
/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
html,
body {
  border: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  line-height: 0.8;
  margin: 0;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
p {
  font-size: 1.6rem;
  line-height: 1.3;
}
h1 {
  font-size: 3.2rem;
  line-height: 1.3;
}
h2 {
  font-size: 3.2rem;
  line-height: 1.3;
}
h3 {
  font-size: 2.4rem;
  line-height: 1.3;
}
h4 {
  font-size: 1.8rem;
  line-height: 1.3;
}
h5 {
  font-size: 1.6rem;
  line-height: 1.3;
}
h6 {
  font-size: 1.6rem;
  line-height: 1.3;
}
a {
  font-size: 1.6rem;
  line-height: 1.3;
}
a:hover {
  text-decoration: none;
}
.btn {
  text-align: center;
  text-decoration: none;
  outline: none;
  cursor: pointer;
}
.form-btn {
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  text-shadow: 0px -1px 0px rgba(39, 18, 14, 0.36);
  border-radius: 5px;
  border: none;
  padding: 1.8rem 4.8rem;
  background: -moz-linear-gradient(90deg, #3cc868 35%, #20b252 100%);
  background: -webkit-linear-gradient(90deg, #3cc868 35%, #20b252 100%);
  background: -ms-linear-gradient(90deg, #3cc868 35%, #20b252 100%);
  -webkit-box-shadow: 2px 4px 1px 0px rgba(71, 71, 71, 0.59);
  -moz-box-shadow: 2px 4px 1px 0px rgba(71, 71, 71, 0.59);
  box-shadow: 2px 4px 1px 0px rgba(71, 71, 71, 0.59);
  transition: all 0.15s ease;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}
.form-btn:hover {
  background: -moz-linear-gradient(90deg, #20b252 0%, #3cc868 65%);
  background: -webkit-linear-gradient(90deg, #20b252 0%, #3cc868 65%);
  background: -ms-linear-gradient(90deg, #20b252 0%, #3cc868 65%);
  -webkit-box-shadow: 2px 4px 1px 0px rgba(71, 71, 71, 0.59);
  -moz-box-shadow: 2px 4px 1px 0px rgba(71, 71, 71, 0.59);
  box-shadow: 2px 4px 1px 0px rgba(71, 71, 71, 0.59);
}
.form-btn:active {
  transform: translateY(2px);
  text-decoration: none;
  outline: none;
}
.form-btn:focus {
  text-decoration: none;
  outline: none;
}
.mdl-btn {
  padding: 1.8rem 6.1rem;
}
input,
textarea {
  font-family: 'Roboto', sans-serif !important;
  font-size: 1.6rem;
  color: #6a6a6a;
}
button {
  font-family: 'Roboto', sans-serif !important;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
  font-family: 'Roboto', sans-serif !important;
  font-size: 1.6rem;
  color: #6a6a6a;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
  font-family: 'Roboto', sans-serif !important;
  font-size: 1.6rem;
  color: #6a6a6a;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
  font-family: 'Roboto', sans-serif !important;
  font-size: 1.6rem;
  color: #6a6a6a;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
  font-family: 'Roboto', sans-serif !important;
  font-size: 1.6rem;
  color: #6a6a6a;
}
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.top-form-sec {
  width: 100%;
  min-height: 832px;
  background: url("img/top-form-sec-bgr.jpg") no-repeat top center;
  background-size: cover;
  z-index: 1;
  padding-top: 5rem;
  padding-bottom: 12.5rem;
}
.main-headline {
  font-size: 3.1em;
  text-transform: uppercase;
}
.top-form-sec-headline {
  margin-bottom: 4.4rem;
}
.top-form-fiture__item {
  min-height: 60px;
  font-size: 1.6rem;
  color: #313131;
  padding-left: 8rem;
  line-height: 1.5;
  background: url("img/top-form-sprite.png") no-repeat top left;
  margin-bottom: 4rem;
}
.top-form-fiture__item_1 {
  background-position: -30px -30px;
}
.top-form-fiture__item_2 {
  background-position: -30px -140px;
}
.top-form-fiture__item_3 {
  background-position: -30px -256px;
}
.notice {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 2rem;
}
.top-form-wrap {
  padding-top: 4rem;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  padding-bottom: 3.5rem;
  background: #FFB163;
  text-align: center;
}
.top-form-wrap h3 {
  font-size: 2.8rem;
  color: #7f3f00;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}
.top-form-wrap p {
  font-size: 1.8rem;
  color: #7f3f00;
  text-align: left;
  padding-left: 1rem;
  margin-bottom: 3rem;
}
.top-form-wrap p span {
  text-transform: uppercase;
}
.top-form-wrap .input-group {
  max-width: 270px;
  height: 4.8rem;
  line-height: 4.8rem;
  overflow: hidden;
  border: 1px solid #E58E37;
  border-radius: 5px;
  margin-bottom: 0.6rem;
  margin-left: auto;
  margin-right: auto;
}
.top-form-wrap .input-group input {
  width: 100%;
  height: 100%;
  background: #fff;
  border: none;
  padding-left: 2rem;
}
#modal-1 .top-form-wrap p {
  text-align: center;
}
.main-form-top span {
  display: block;
  font-size: 1.4rem;
  color: #954d05;
  text-align: center;
  line-height: 1.3;
}
input.error {
  border: 3px solid red !important;
}
.difficulties {
  width: 100%;
  height: auto;
}
.difficulties-headline {
  padding-top: 6.5rem;
  margin-bottom: 7.8rem;
}
.difficulties-fit-wrap {
  max-width: 300px;
  margin: 0 auto;
}
.difficulties-fit-wrap img {
  max-width: 100%;
}
.difficulties-fit-wrap p {
  font-weight: 700;
  font-size: 1.6rem;
  text-align: center;
  line-height: 2;
  margin: 3.5rem 0;
}
.why-we-are {
  background: #EEF2F4;
  padding-bottom: 14.5rem;
  border-bottom: 1px solid #E4E4E4;
}
.why-we-are img {
  max-width: 100%;
}
.why-we-are-headline {
  padding-top: 10rem;
  margin-bottom: 10rem;
}
.why-we-are-item p {
  font-size: 1.8rem;
  max-width: 470px;
  margin: 0 auto;
}
.success-work {
  width: 100%;
  min-height: 694px;
  background: url("img/success-work-bg.jpg") no-repeat top center;
  background-size: cover;
  padding-top: 12.8rem;
  padding-bottom: 3.5rem;
}
.success-work ul li {
  min-height: 39px;
  font-size: 1.6rem;
  color: #ffffff;
  line-height: 1.3;
  margin-bottom: 3rem;
  padding-left: 7rem;
  background: url("img/main-screen-ico.png") no-repeat top left;
}
.white-col {
  color: #ffffff;
}
.success-headline {
  margin-bottom: 6rem;
}
.options {
  width: 100%;
  min-height: 940px;
  padding-top: 10rem;
  background: url("img/options-bgr.jpg") no-repeat top center;
  background-size: cover;
}
.options img {
  max-width: 100%;
  margin-bottom: 2rem;
}
.options p {
  margin-bottom: 6.5rem;
}
.options-headline {
  padding-right: 4.3rem;
  margin-bottom: 9rem;
}
.options-list {
  max-width: 542px;
}
.options-list li {
  min-height: 39px;
  font-size: 1.6rem;
  line-height: 1.5;
  padding-left: 6rem;
  margin-bottom: 3.5rem;
  background: url("img/main-screen-ico.png") no-repeat left top;
}
.clients {
  width: 100%;
}
.clients p {
  font-style: italic;
  margin-bottom: 3.5rem;
}
.clients-top {
  background: url("img/clients-top-bgr.jpg") no-repeat top center;
}
.clients-top-headline {
  padding-top: 7.8rem;
  margin-bottom: 7.5rem;
}
.clients-slider-headline {
  font-style: italic;
  font-weight: 700;
}
.clients-slider-list li {
  font-size: 1.6rem;
  line-height: 1.3;
  margin-bottom: 3.5rem;
}
.clients-slider-list li span {
  display: block;
  font-weight: 700;
  margin-top: 1.2rem;
}
.owl-carousel img {
  max-width: 100%;
}
#sync2 .owl-wrapper,
#sync4 .owl-wrapper,
#sync6 .owl-wrapper,
#sync8 .owl-wrapper {
  margin-top: 1.2rem;
}
#sync2 .owl-item,
#sync4 .owl-item,
#sync6 .owl-item,
#sync8 .owl-item {
  padding: 0.5rem;
}
.sync1-item {
  max-width: 470px;
  border-radius: 15px;
  overflow: hidden;
}
.sync2-item {
  border-radius: 11px;
  overflow: hidden;
  cursor: pointer;
}
.slider-sec-wrap {
  margin-bottom: 6.5rem;
}
.bottom-form-sec {
  width: 100%;
  min-height: 748px;
  background: url("img/bottom-form-sec-bg.jpg") no-repeat top center;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 3rem;
}
.bottom-form-sec-headline {
  margin-bottom: 8rem;
}
.bottom-form-fiture__item {
  min-height: 39px;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.3;
  background: url("img/main-screen-ico.png") no-repeat top left;
  padding-left: 7rem;
  margin-bottom: 3.3rem;
}
.com-mistakes {
  width: 100%;
  background: url("img/com-mistakes-bgr.png") no-repeat top center;
  background-size: cover;
  padding-top: 9rem;
  padding-bottom: 18rem;
}
.com-mistakes-headline {
  margin-bottom: 7rem;
}
.com-mistakes-item {
  position: relative;
}
.com-mistakes-item img {
  max-width: 100%;
}
.com-mistakes-item p {
  position: absolute;
  width: 270px;
  top: 40%;
  left: 50%;
  margin-left: -135px;
  color: #ffffff;
}
.com-mistakes-item-1,
.com-mistakes-item-5 {
  margin-bottom: 4rem;
}
.com-mistakes-item-3 {
  margin-bottom: 2.5rem;
}
.com-mistakes-item-2,
.com-mistakes-item-4,
.com-mistakes-item-6,
.com-mistakes-item-8 {
  padding-top: 2rem;
}
.com-mistakes-item-2 p,
.com-mistakes-item-3 p {
  top: 33%;
}
.stop-mistake-left {
  position: absolute;
  left: -17px;
  bottom: -31px;
}
.stop-mistake-right {
  position: absolute;
  right: -17px;
  bottom: -30px;
}
.change-acc {
  width: 100%;
  min-height: 722px;
  background: url("img/change-acc-bgr.jpg") no-repeat top center;
  margin-bottom: -88px;
  position: relative;
  z-index: 30;
}
.change-acc-headline {
  padding-top: 7rem;
  margin-bottom: 5.5rem;
}
.change-acc-info-wrap {
  width: 100%;
  height: 39.7rem;
  text-align: center;
  background: url("img/change-acc-center-ico.png") no-repeat top center;
  padding-top: 9.8rem;
}
.change-acc-sub-headline {
  font-style: italic;
  margin-bottom: 3.5rem;
}
.change-acc-text {
  padding-left: 85px;
  padding-right: 75px;
}
.change-acc-btn,
.form-btn {
  display: inline-block;
  text-decoration: none;
  outline: none;
  margin-top: 0;
}
.change-acc-btn:hover,
.form-btn:hover {
  text-decoration: none;
  color: #ffffff;
}
.change-acc-btn:focus,
.form-btn:focus {
  text-decoration: none;
  color: #ffffff;
}
.change-acc-btn {
  margin-top: 4rem;
}
.clients-bottom {
  background: url("img/clients-bottom-bgr.png") no-repeat top center;
  background-size: cover;
  min-height: 1260px;
  padding-top: 75px;
  margin-bottom: -345px;
  position: relative;
  z-index: 20;
}
.free-mesure {
  width: 100%;
  min-height: 782px;
  background: url("img/free-mesure-bgr.png") no-repeat top center;
  padding-top: 18rem;
  margin-bottom: -113px;
  position: relative;
  z-index: 10;
}
.free-mesure h2,
.free-mesure p {
  color: #7f3f00;
}
.free-mesure .free-mesure-btn-1 {
  margin-top: 15px;
}
.freemesure-headline {
  margin-bottom: 10rem;
}
.free-mesure-item {
  padding-top: 1.5rem;
  margin-bottom: 3rem;
}
.mesure-content-wrap-2 {
  margin-left: 1rem;
}
.mesure-content-wrap-3,
.mesure-content-wrap-4 {
  margin-left: 1.5rem;
}
.free-mesure-circle-big {
  position: relative;
  width: 100px;
  height: 100px;
  border: 1px solid #fff;
  border-radius: 50%;
  background: #FFD49F;
  text-align: center;
  margin-bottom: 3.5rem;
}
.free-mesure-circle-small {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 46px;
  height: 46px;
  border: 1px solid #ffb163;
  border-radius: 50%;
  background: #fff;
  text-align: center;
  line-height: 45px;
  margin-top: -2.3rem;
  margin-left: -2.3rem;
}
.free-mesure-circle-small span {
  font-size: 2rem;
  color: #ffb163;
  font-weight: 700;
}
.free-mesure-btn {
  padding-left: 4.5rem;
  padding-right: 4.5rem;
}
.contacts {
  position: relative;
  width: 100%;
  min-height: 650px;
  background: #ffffff;
}
.contacts-map {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 20;
}
.contacts-block-wrap {
  display: table;
  width: 50%;
  height: 100%;
  margin-left: 50%;
}
.contacts-inner {
  display: table-cell;
  vertical-align: middle;
}
.contacts-inner h2,
.contacts-inner p {
  color: #fff;
}
.contacts-inner p {
  font-size: 1.8rem;
  margin-bottom: 3.5rem;
}
.contacts_tel,
.contacts_mail {
  display: block;
  font-size: 1.8rem;
  color: #fff;
  margin-bottom: 3.5rem;
}
.contacts-headline {
  margin-bottom: 7rem;
}
.social-icons {
  display: inline-block;
  vertical-align: top;
  margin-top: 5rem;
  margin-right: 1rem;
  transition: all 0.35s ease;
}
.social-icons a {
  display: block;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 6rem;
  border-radius: 50%;
}
.social-icons a i {
  font-size: 2.8rem;
  color: #fff;
  transition: all 0.35s ease;
}
.social-icons a:hover {
  background: #fff;
}
.social-icon_1 a {
  background: #5695C8;
}
.social-icon_1 a:hover i {
  color: #5695C8;
}
.social-icon_2 a {
  background: #597ACB;
}
.social-icon_2 a:hover i {
  color: #597ACB;
}
.main-footer {
  width: 100%;
  min-height: 90px;
  background: #fff;
}
.footer-info {
  width: 100%;
  display: table;
}
.footer-info-inner {
  display: table-cell;
  height: 90px;
  vertical-align: middle;
  text-align: center;
  font-size: 1.4rem;
  color: #979797;
}
.footer-info-inner span {
  display: block;
}
.footer-info-inner a {
  font-size: 1.4rem;
  text-decoration: underline;
  transition: 0.25s ease;
}
.footer-info-inner a:hover {
  text-decoration: none;
}
input,
textarea {
  font-family: 'Roboto', sans-serif !important;
  font-size: 1.6rem;
  color: #6a6a6a;
}
button {
  font-family: 'Roboto', sans-serif !important;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
  font-family: 'Roboto', sans-serif !important;
  font-size: 1.6rem;
  color: #6a6a6a;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
  font-family: 'Roboto', sans-serif !important;
  font-size: 1.6rem;
  color: #6a6a6a;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
  font-family: 'Roboto', sans-serif !important;
  font-size: 1.6rem;
  color: #6a6a6a;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
  font-family: 'Roboto', sans-serif !important;
  font-size: 1.6rem;
  color: #6a6a6a;
}
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
input,
textarea {
  font-family: 'Roboto', sans-serif !important;
  font-size: 1.6rem;
  color: #6a6a6a;
}
button {
  font-family: 'Roboto', sans-serif !important;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
  font-family: 'Roboto', sans-serif !important;
  font-size: 1.6rem;
  color: #6a6a6a;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
  font-family: 'Roboto', sans-serif !important;
  font-size: 1.6rem;
  color: #6a6a6a;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
  font-family: 'Roboto', sans-serif !important;
  font-size: 1.6rem;
  color: #6a6a6a;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
  font-family: 'Roboto', sans-serif !important;
  font-size: 1.6rem;
  color: #6a6a6a;
}
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
